body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.layout {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}
  
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;  
}

.display-none {
    display: none;
}

.header-menu__list,
.filter-form__option,
.catalog-sort__updown,
.catalog-sort__list,
.catalog-items,
.footer-social__list,
.benefits-reasons,
.benefits-reasons__extra,
.filter-form__fieldset,
.form__fieldset,
.filter-form__cost,
.filter-form__fieldset ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu {
    position: relative;
    line-height: 26px;
    color: #000000; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header__logo {
    position: absolute;
    left: 50%;
    margin-left: -69px;
}

.header-menu__list {    
    background-color: #ffffff; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 1056px;
        flex-basis: 1056px;
}

.header-menu__listing {
    display: block;
    -ms-flex-preferred-size: 241px;
        flex-basis: 241px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-menu__listing:first-child,
.header-menu__listing:nth-child(2) {
    text-align: left;
}

.header-menu__listing:nth-child(3),
.header-menu__listing:nth-child(4) {
    text-align: right;
}

.header-menu__listing:nth-child(2) {
    margin-right: 46px;
}

.header-menu__listing:nth-child(3) {
    margin-left: 46px;
}

.filter-form__option {
    margin: 0;
    margin-bottom: 25px;
}

.filter-form__option:last-child {
    margin-bottom: 0;
}

.filter-form__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    width: 391px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;  
}

.filter-form__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -ms-flex-wrap: wrap;    
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.filter-form__cost .filter-form__label {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
}

.filter-form__range {
    position: relative;
    width: 100%;
    height: 2px;
    background-image: -webkit-gradient(
    linear,
    left top, right top,
    color-stop(80%, rgba(255, 255, 255, 1)),
    color-stop(20%, rgba(255, 255, 255, 0.3))
    );
    background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0.3) 20%
    );
    background-image: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0.3) 20%
    );
    background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0.3) 20%
    );
    margin-bottom: 30px;
}

.filter-form__range::before {
    content: "";
    height: 23px;
    width: 20px;
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: absolute;
    top: -8px;
    cursor: pointer;
}

.filter-form__range::after {
    content: "";
    height: 23px;
    width: 20px;
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: absolute;
    top: -8px;
    right: 45px;
    cursor: pointer;
}

.filter-cost__input {
    border: none;
    font-family: "PT Sans Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    width: 155px;
    height: 25px;
    background-color: transparent;
}

.catalog-sort__up {    
    width: 11px;
    height: 11px;
    background-image: url("../img/icon-up-dir-gray.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.catalog-sort__up:hover {
    background-image: url("../img/icon-up-dir.svg");
}

.catalog-sort__up:active {
    background-image: url("../img/icon-up-dir-blue.svg");
}

.catalog-sort__down {
    width: 11px;
    height: 11px;
    background-image: url("../img/icon-down-dir-gray.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;   
}

.catalog-sort__down--active {
    background-image: url("../img/icon-down-dir-blue.svg");
}

.catalog-sort__down:hover {
    background-image: url("../img/icon-down-dir.svg");
}

.catalog-sort__down:active {
    background-image: url("../img/icon-down-dir-blue.svg");
}

.header-menu a {
    color: #000000;
    font-weight: bold;
}

.header-menu a:hover {
    color: #81b3d2;
}

.header-menu a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.header-menu a:active {
    color: #766357;
    cursor: pointer;
}

.header-menu__listing--active a {
    color: #766357;
    cursor: pointer;
}

.benefits-reasons__listing,
.benefits__slogan,
.benefits__title,
.search-hotel__question,
.search-hotel__offer {
    text-align: center;
}

.search-hotel__offer {
    margin: 0;
    margin-bottom: 50px;
}

.benefits-reasons__listing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.benefits-reasons__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.welcome-banner {
    height: 509px;
    background-color: #000080;
    background-image: url("../img/stripe.png"), url("../img/banner-text.png"), url("../img/background-photo.jpg");
    background-position: bottom center, 50% 48%, 50% 21%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, auto, cover;   
    margin-bottom: 60px; 
}

.white-block {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    padding-bottom: 50px; 
}

.search-hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -ms-flex-line-pack: center;
        align-content: center;
}

.search-hotel__form {
    position: absolute;
    z-index: 1; 
    top: 291px;
    left: 50%;
    margin-left: -284px;
    width: 568px;
}

.search-hotel__question {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin-top: 47px;
    position: relative;
}

.benefits-reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;   
}

.benefits-reasons__extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;    
}

.extra__listing {
    padding-top: 60px;
    padding-bottom: 82px;
    padding-right: 57px;
    padding-left: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
}

.extra__listing:first-child:before {
    content: "";
    width: 75px;
    height: 76px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    margin-bottom: 28px;
    top: 59px;
}

.extra__listing:nth-child(2):before {
    content: "";
    width: 75px;
    height: 76px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    margin-bottom: 28px;
    top: 60px;
}

.extra__listing:nth-child(3):before {
    content: "";
    width: 75px;
    height: 76px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 5px 0;
    margin-bottom: 28px;
    top: 57px;
}

.benefits__title {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal; 
    margin: 0;
}

.benefits__slogan {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold; 
    margin: 0 0 27px 0;
    width: 442px;
}

.benefits h3,
.benefits h4 {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.benefits-reasons__blue-box {
    width: 400px;
    padding: 46px 60px 58px;
    background-color: #81b3d2;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
 }

 .benefits-reasons__title,
 .benefits-reasons__detail,
 .extra__title,
 .extra__detail,
 .catalog-items__buttons,
 .catalog-items__price {
     margin: 0;
 }

 .extra__detail {
     max-width: 286px;
 }

 .extra__title {
     margin-bottom: 22px;
 }

 .benefits-reasons__title {
     margin-bottom: 24px;
     width: 126px;
 }

 .benefits-reasons__gray-back p {
     width: 264px;
 }

 .benefits-reasons__gray-back:last-child p {
    width: 259px;
}

 .benefits-reasons__numbers {
     margin-bottom: 22px;
 }

 .benefits-reasons__blue-box h3 {
    color: #ffffff;     
 }

 .picture-box__right h3 {
    width: 135px;
 }

 .picture-box__left h3 {
     width: 151px;
 }
 
 .picture-box__right p {
    width: 290px;     
 }

 .picture-box__left p {
    width: 310px;     
 }

 .benefits-reasons__picture-box {    
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

 }

 .picture-box__right {
    background-position: 100% 50%;
    background-image: url("../img/photo1.jpg");
 }

 .picture-box__left {
    background-position: 0 50%;
    background-image: url("../img/photo2.jpg");
    margin-left: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
 }

 .benefits-reasons__inner-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     margin-bottom: 11px;
 }

 .benefits-reasons__gray-back {
   background-color: #eeeeee; 
   display: -webkit-box; 
   display: -ms-flexbox; 
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   position: relative;
   -ms-flex-preferred-size: 400px;
       flex-basis: 400px;
   min-height: 256px;
 }
 
.form-and-map{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.search-hotel__button {
    border: none;
    font-size: 21px;
    line-height: 26px;
    font-family: "PT Sans Regular", Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    width: 568px;
    height: 86px;
    background-color: #766357;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: auto;
}

.search-hotel__button:hover {
    background-color: #604e43;
}

.search-hotel__button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

fieldset {
    border: 0;
}

.form__button {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    border: 0;
    font-family: "PT Sans Regular", Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.form__button:hover {
    background-color: #669ec0;
}

.form__button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.form__item {
    margin: 0;
    margin-bottom: 28px;
    min-width: 160px;
}

.form__item.form__item-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 28px;
    width: 100%;
}

.form__item label {
    font-weight: bold;
}

.form__item-small .form__label { 
    -webkit-box-ordinal-group: 2; 
        -ms-flex-order: 1; 
            order: 1;  
}

.form-label__adult {
    margin-right: 41px;     
}

.form-label__children {
    margin-right: 27px;    
}

.form__item input[type="text"] {
    font-family: "PT Sans Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px; 
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
}

.leave-input {
    margin-left: 17px;    
}

.arrive-input {
    margin-left: 21px;    
}

.form__item input[type="text"]:hover {
    background-color: #ebebeb;
}

.form__item input[type="text"]:focus {
    background-color: #ffffff;
    outline: solid 2px #e5e5e5;
}

.form__item-small input[type="text"] {
    width: 38px;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
}

.form__item-big {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form__calendar {
    position: absolute;
    left: 426px;
    top: 7px;
    border: none;
    cursor: pointer;
    font-size: 0;
    width: 21px;
    height: 22px;
    background-color: transparent;
    background-image: url("../img/calendar-gray.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.form__calendar:hover {
    background-image: url("../img/calendar.svg");
}

.form__calendar:active {
    background-image: url("../img/calendar-blue.svg");
}

.control-count {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
}

.count-plus {
    background-image: url("../img/plus-gray.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px 11px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
}

.count-plus:hover {
    background-image: url("../img/plus-black.png");
}

.count-plus:active {
    background-image: url("../img/plus-blue.png");  
}

.count-minus {
    background-image: url("../img/minus-gray.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 3px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.count-minus:hover {
    background-image: url("../img/minus-black.png");
}

.count-minus:active {
    background-image: url("../img/minus-blue.png");
}

.form__item input:focus {
    border: solid 2px #e5e5e5;
}

.form__item input[type="text"] {
    padding: 0 35px 0 13px;
}

.form__item-big input[type="text"]:focus {
    padding-left: 11px;
}

.form__item-small input[type="text"] {
    padding: 0;
    text-align: center;
}

.filter-cost input[type="text"] {
    color: #ffffff;
    padding: 0 10px 0 10px;
    text-align: center;
}

.form__item-big:last-child .form__label {
    margin-right: 13px;
}

.form__item input[type="text"]::-moz-placeholder { 
    color: #000000;
    opacity: 1;
}

.form__item input[type="text"]::-webkit-input-placeholder { 
    color: #000000; 
}

.filter-cost input[type="text"]::-moz-placeholder { 
    color: #ffffff; 
    opacity: 1;
}

.filter-cost input[type="text"]::-webkit-input-placeholder { 
    color: #ffffff; 
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 1056px;
}

.footer-main {
    position: absolute;
    bottom: 0;
}

.map {
    line-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.footer-social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__copyright  {
    background-image: url("../img/logo-htmlacademy.svg");
    background-position: 95px 5px;
    background-repeat: no-repeat;
    background-size: 115px 41px;;    
    cursor: pointer;
    padding: 16px 152px 17px 15px;
 }

 .footer__copyright:hover {
    background-image: url("../img/logo-htmlacademy-blue.svg");  
 }

 .footer__copyright:active {
    background-image: url("../img/logo-htmlacademy-gray.svg");   
 }

 .footer-social {
   margin-left: -15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
 } 

 .footer-social__listing {
     width: 46px;
     height: 48px;
     background-color: #81b3d2;
     cursor: pointer;
     margin-right: 6px;
 }

 .footer-social__listing:last-child {
     margin-right: 0;
 }

 .footer-social__listing:hover {
    background-color: #669ec0;
 }

 .footer-social__listing:active {
    background-color: #5496bd;    
 }

 .footer-social__twitter {
     background-image: url("../img/twitter.svg");
     background-repeat: no-repeat;
     background-position: 50% 50%;
     background-size: 17px auto;
 }

 .footer-social__facebook {
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 12px auto;
 }

 .footer-social__youtube {
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px auto;  
 }

 .footer__hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    min-width: 256px;
 }

 .filters {
    width: 100%; 
    background-image: url("../img/filter-background.jpg");
    background-position: top center;
    background-color: #000080;
    background-size: cover;
    color: #ffffff;
    padding: 27px 72px 29px;
}

 .filter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }

 .form__fieldset {
     background-color: #ffffff;
     -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
             box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
     padding: 55px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
 }

 .filter-form__cost {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
 }

 .filter-form__legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 25px;
 }

 .filter-form__button {
    width: 137px;
    height: 37px;
    border: solid 2px #ffffff;
    border-radius: 2px;
    background-color: transparent;
    font-family: "PT Sans Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 85px;
 }

 .filter-form__button:hover {
    background-color: #ffffff;
    color: #000000;
 }

 .filter-cost {
    width: 317px;
    height: 34px;
    border: solid 2px #ffffff;
    border-radius: 2px;
    background-color: transparent;
    font: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 21px;
    position: relative;
 }

 .filter-cost::before {
     content: "";
     width: 2px;
     height: 22px;
     background-color: #ffffff;
     left: 157px;
     position: absolute;
     top: 3px;
 }

 input[type="checkbox"] + label {
     position: relative;
     padding-left: 40px;
     vertical-align: top;
     cursor: pointer;
 }

 input[type="checkbox"] + label::before {
     content: "";
     display: block;
     width: 23px;
     height: 23px;
     background: url("../img/checkbox-off.svg") no-repeat;
     position: absolute;
     top: -1px;
    left: 0;  
 }

 input[type="checkbox"]:checked + label::before {
    background: url("../img/checkbox-on.svg") no-repeat;
    width: 27px;
 }

 input[type="checkbox"]:disabled + label::before {
    background: url("../img/checkbox-disabled.svg") no-repeat;
    width: 27px;
 }

 .catalog__header {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: baseline;
         -ms-flex-align: baseline;
             align-items: baseline;
     padding: 29px 73px 29px 73px;
     border-bottom: 1px solid #e5e5e5;
 }

 .catalog-sort {
     font-size: 12px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: baseline;
         -ms-flex-align: baseline;
             align-items: baseline;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     width: 100%;
}

.catalog-sort__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.catalog-sort__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

 .catalog-sort__title,
 .catalog-sort__listing {
     margin: 0;
 }

 .catalog-sort__list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 240px;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
 }

.catalog-sort__title {
     color: #000000;
     margin-right: 40px;
 }

 .catalog-sort__listing a {
    color: rgba(0, 0, 0, 0.3);
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
    -webkit-text-decoration-color: #81b3d2;
            text-decoration-color: #81b3d2;
 }

 .catalog-sort__listing a:hover {
    color: #81b3d2;
 }

 .catalog-sort__listing a:active {
    color: #000000;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
 }

 .catalog-sort__listing--active a {
    color: #81b3d2;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
 }

 .catalog-sort__updown {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 34px;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
 }

 .catalog__results,
 .catalog-items__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
 }

 .catalog-items__title a {
     color: #000000;
 }

 .catalog-items__title:hover a {
    color: #81b3d2;
    cursor: pointer;
 }

 .catalog-items__title:active a {
    color: rgba(0, 0, 0, 0.3);
 }

 .catalog__results {
     margin-right: 50px;
 }

 .catalog-items {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
}

.catalog-items__picture {
    margin-right: 28px;
}

 .catalog-items__list {
    min-height: 152px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #e5e5e5;    
 }

 .catalog-items__container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -ms-flex-preferred-size: 1056px;
         flex-basis: 1056px;
 }

 .catalog-items__buttons {
    width: 258px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
 }

 .catalog-items__price {
    width: 185px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 14px;
 }

 .catalog-items__left-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }

 .listing-left {
     margin-top: -3px;
 }

 .listing-right {
    min-width: 241px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
 }

 .catalog-items__rating {
    padding: 3px 13px 3px 16px;
    background-color: #f2f2f2; 
    text-align: center;
    vertical-align: middle;
 }

 .catalog-items__star:not(:last-child) {
    margin-right: 5px;
 }

.catalog-items__link {
    padding: 3px 17px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center;
}

.catalog-items__link--light {
    width: 110px;
    background-color: #81b3d2;
}

.catalog-items__link--dark {
    width: 142px;
    background-color: #766357;
}

.catalog-items__link--light:hover {
    background-color: #669ec0;
}

.catalog-items__link--light:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-items__link--dark:hover {
    background-color: #604e43;
}

.catalog-items__link--dark:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-items__stars {
    height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog-items__star {
    width: 18px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-size: 18px 17px;
    background-position: 50% 50%;
}